/// Base

html,
body {
  background: $background-color;
  color: $text-color;
}
body {
  background: url("~assets/images/bkg.jpg") top center no-repeat;
  background-size: contain;
  font-size: $base-font-size;
}
body.full-width .site-content {
  padding-top: $header-height;
}
