/// Modifiers

// Modifiers > Borders

.with-border-bottom {
  border-bottom: 1px solid $grey-light-color;
}
.is-rounded {
  border-radius: $default-border-radius;
}
.is-rounded-top {
  border-top-right-radius: $default-border-radius;
  border-top-left-radius:  $default-border-radius;
}
.is-rounded-bottom {
  border-bottom-right-radius: $default-border-radius;
  border-bottom-left-radius:  $default-border-radius;
}

// Modifiers > Fills

.fill-grey-light {
  background: $grey-light-color;
}
.fill-grey {
  background: $grey-color;
}
.fill-grey-dark {
  background: $grey-dark-color;
}
.fill-white {
  background: $white;
  color: $grey-dark-color;
}
.fill-warn {
  position: relative;
  background: $warn-light-color;
  color: $warn-color;
}
.fill-warn:after {
  display: block;
  content: '';
  height: 0;
  width: 0;
  position: absolute;
  left: 50%;
  top: 45px; // Magic number
  margin-left: -8px;
  border: 8px solid transparent;
  border-top-color: $warn-light-color;
}
