/// Buttons

// Button > Default
.btn {
  display: inline-block;
  padding: $gutter/2 $gutter*2 ($gutter/2 + 2);
  overflow: hidden;
  background: $warn-color;
  border: none;
  border-radius: $default-border-radius;
  color: $grey-dark-color;
  cursor: pointer;
  font-size:  $font-size-2;
  font-family: $heading-stack;
  font-weight: $bold-font-weight;
  outline: none;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
    -moz-user-select:    none;
    -webkit-user-select: none;
  user-select:           none;
  -webkit-appearance: none;

  @include respond-to(med) {
    padding-right: $gutter*4;
    padding-left:  $gutter*4;
  }
}
.btn:hover,
.btn:focus {
  color: $white;
  // background: $brand-dark-color;
  border: none;
}
button.btn {
  vertical-align: top;
}
.btn::-moz-focus-inner {
  outline: none;
  border: 0;
}
// Button > with image
.btn img {
  display: inline-block;
  max-height: $m-font-size-2 * $base-line-height;
  width: auto;
  margin-right: $gutter;
}

// Buttons > Block
.btn.btn-block {
  display: block;
  width: 100%;
}

// Buttons > Small
.btn.btn-sml {
  padding: $gutter/2 $gutter;
  font-size: $base-font-size;
}
// Button > Small > with image
.btn.btn-sml img {
  max-height: $base-font-size;
  vertical-align: baseline;
}

// Buttons > Disabled
.btn:disabled,
.btn[disabled],
.btn:disabled:hover,
.btn[disabled]:hover,
.btn:disabled:focus,
.btn[disabled]:focus {
  background: $grey-color;
  cursor: default;
}

// Buttons > Sharing
.btn.btn-twitter {
  background-color: $twitter-color;
  color: $white;
}
.btn.btn-twitter:hover,
.btn.btn-twitter:focus {
  background: $twitter-dark-color;
  color: $white;
}
.btn.btn-facebook {
  background-color: $facebook-color;
  color: $white;
}
.btn.btn-facebook:hover,
.btn.btn-facebook:focus {
  background: $facebook-dark-color;
  color: $white;
}
